.stick{ margin-top: 200px;
    position: fixed; left: 205px;
    height: 325px; width: 15px; 
    background-color: green;
    background: radial-gradient(circle,rgb(11, 158, 11) 0%,
     rgb(32, 163, 32) 20%, rgb(3, 138, 3) 80%);
    box-shadow: 0 0 10px rgb(96, 202, 96);   
    animation: petals 5s linear, petal 4s infinite;
}
.spikeR{
    height: 0; width: 0; rotate: 90deg;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 10px solid rgb(23, 207, 23); 
    margin-left: 15px; margin-bottom: 15px;
    background: radial-gradient(circle,rgb(11, 158, 11) 0%,
     rgb(32, 163, 32) 20%, rgb(3, 138, 3) 80%);
     animation: petals 5s linear, petal 4s infinite;
}
.spikeL{
    height: 0; width: 0; rotate: -90deg;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 10px solid rgb(23, 207, 23); 
    margin-left: -10px; margin-bottom: 15px;
    background: radial-gradient(circle,rgb(11, 158, 11) 0%,
     rgb(32, 163, 32) 20%, rgb(3, 138, 3) 80%);
     animation: petals 5s linear, petal 4s infinite;
}
.sleaf{
    background-color: rgb(47, 136, 29);
    height: 100px; width: 200px; 
    border-radius:0 50% 0 50%; rotate: 145Deg;
    top: 200px; left: 220px;
    position: fixed; z-index: 1;
    animation: petals 5s linear, petal 4s infinite;
}

#p1{   top: 50px; left: 100px; rotate: 10Deg;

    height: 150px; width: 120px;
    position: fixed; z-index: 1;
    border-radius:0 50% 0 50%;

    background: radial-gradient(circle,#FA7B8E 20%,
     #f7496e 50%, #F1004E 100%);

    box-shadow: 0 0 20px 5px rgb(216, 117, 117);
    background-color: pink;
    animation: petals 5s linear, petal 4s infinite;
}

#p2{    top: 58px; left: 85px; rotate: 3Deg;

    height: 150px; width: 120px;
    position: fixed; z-index: 5;
    border-radius:0 50% 0 50%;

    background: radial-gradient(circle,rgb(238, 151, 165) 20%,
     rgb(226, 115, 133) 50%, #F1004E 100%);

    box-shadow: 0 0 20px 5px rgb(216, 117, 117);
    background-color: pink;
    animation: petals 5s linear, petal 4s infinite;
}

#p3{   top: 60px; left: 100px; rotate: -3Deg;

    height: 150px; width: 100px;
    position: fixed; z-index: 5;
    border-radius:0 50% 0 50%;

    background: radial-gradient(circle,#FA7B8E 20%,
    #f7496e 50%, #F1004E 100%);

    box-shadow: 0 0 20px 5px rgb(216, 117, 117);
    background-color: pink;
    animation: petals 5s linear, petal 4s infinite;
}

#p4{   top: 45px; left: 155px; 

    height: 165px; width: 120px;
    position: fixed; z-index: 4;
    border-radius:0 0 40%  40%;

    background: radial-gradient(circle,#FA7B8E 20%,
     #f7496e 50%, #ff0051 100%);

    box-shadow: 0 0 20px 5px #fbabb0;
    background-color: rgb(230, 74, 100);
    animation: petals 5s linear, petal 4s infinite;
}

#p5{    top: 50px; left: 210px; rotate: -10Deg;

    height: 150px; width: 120px;
    position: fixed; z-index: 1;
    border-radius:50% 0 50% 0;

    background: radial-gradient(circle,#FA7B8E 20%,
    #f7496e 50%, #F1004E 100%);

    box-shadow: 0 0 20px 5px rgb(216, 117, 117);
    background-color: pink;
    animation: petals 5s linear, petal 4s infinite;
}

#p6{    top: 50px; left: 220px; rotate: -5Deg;

    height: 150px; width: 120px;
    position: fixed; z-index: 0;
    border-radius:50% 0 50% 0;

    background: radial-gradient(circle,rgb(238, 151, 165) 20%,
     rgb(226, 115, 133) 50%, rgb(240, 131, 149) 100%);

    box-shadow: 0 0 20px 5px rgb(216, 117, 117);
    background-color: pink;
    animation: petals 5s linear, petal 4s infinite;
}
#p7{    top: 52px; left: 220px; rotate: 3Deg;

    height: 160px; width: 100px;
    position: fixed; z-index: 1;
    border-radius:50% 0 50% 0;

    background: radial-gradient(circle,#FA7B8E 20%,
    #f7496e 50%, #F1004E 100%);

    box-shadow: 0 0 20px 5px rgb(216, 117, 117);
    background-color: pink;
    animation: petals 5s linear, petal 4s infinite;
    
}

@keyframes petals{
    0%{
        transform: scale(1);
        rotate: 120Deg;
        
    }
    50%{
        transform: scale(1.1);
        

    }
    100%{
        transform: scale(1);
        
    }
}


@keyframes petal{
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(1.2);
    }
    100%{
        transform: scale(1);
    }
}

#emoji{
    position: absolute; 
    top: 50px; left: 450px;
    animation:  petal 8s 7s infinite;

}
#sms{   
        font-family: 'Times New Roman', Times, serif;
        color: #f7496e ;

        background: linear-gradient(45deg, #f7496e, #d82eb3, #d4907f);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  
    position: absolute; z-index: 5;
    text-shadow: 3px 3px 3px rgba(202, 28, 164, 0.137) ;
    top: 180px; left: 450px;
    animation: petal 8s 5s infinite;
}

#sms1{   
    font-family: 'Times New Roman', Times, serif;
    color: #f7496e ;
    font-size: 22px;
    background: linear-gradient(45deg, #f7496e, #d82eb3,#f7496e);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;

position: absolute; z-index: 5;
text-shadow: 3px 3px 3px rgba(85, 46, 76, 0.137) ;
top: 320px; left: 450px;
animation:  petal 4s 6s infinite;
}

#sms2{   
    font-family: 'Times New Roman', Times, serif;
    font-size: 40px;
position: absolute; z-index: 5;
text-shadow: 3px 3px 3px rgba(85, 46, 76, 0.137) ;
top: 430px; left: 450px;
animation:  petal 2.5s  5.1s infinite;

}


@keyframes text{
    50%{
        transform: rotateY(30deg);
    }
}